<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ReadLocation" value="C:\Users\pedro\OneDrive\Documentos\quotes.txt" />
    <add key="WriteLocation" value ="C:\Users\pedro\OneDrive\Documentos\cleanQuotes.txt"/>
  </appSettings>
</configuration>